@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.custom-navbar {
  background-color: #5c068c;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.navbar-title {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.custom-link {
  color: white !important;
  font-weight: 300;
  margin-left: 1rem;
  position: relative;
  text-align: left;
}

.custom-link:hover {
  text-decoration: none;
}

.custom-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-link:hover::after {
  width: 100%;
}

.custom-collapse {
  color: white;
  position: relative;
}

.login-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 991.98px) {
  .login-nav {
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
  }
}
